/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Styling */
body, html{
	width: 100%;
	height: 100%;
}
.container{
	margin: 0 auto;
	width: 1440px;
	height: 100%;
	/*background-color: yellow;*/
	position: relative;
}
.hero{
	position: relative;
	height: 695px;
	/*background-color: orange;*/
	background-image: url("../images/your_verse_hero.jpg");
	background-position: left bottom;
}
aside ul li{
	width: 360px;
	height: 200px;
	/*background-color: red;*/
	float: left;
}
.hero ul{
	position: absolute;
	top: 18px;
	left: 230px;
	margin: 0 auto;
	box-sizing: border-box;
	border-radius: 10px;
	background: url("../images/globalheader.png") repeat-x;
	/*border-radius: 4px;*/
}
.hero ul li{
	width: 105px;
	height: 36px;
	display: inline-block;
}

.hero li {
	/*padding-top: 2px;*/
	background-image:url("../images/globalnav_text.svg");
	box-sizing: border-box;
	border-right: 1px solid rgb(70,70,70);
}

.hero li#gn-apple   { background-position:50% 0; }
.hero li#gn-store   { background-position:50% -27px; }
.hero li#gn-mac     { background-position:50% -57px; }
.hero li#gn-ipod    { background-position:50% -87px; }
.hero li#gn-iphone  { background-position:50% -117px; }
.hero li#gn-ipad    { background-position:50% -147px; }
.hero li#gn-itunes  { background-position:50% -177px; }
.hero li#gn-support { background-position:50% -207px; }

.hero li#gn-search {
	background-image: none;
	background-image: url("../images/globalsearch_field_1.png");
  	background-repeat: no-repeat;
	background-position: 1px 7px;
	background-size: 100px 20px;
	border: none;
}
.hero .hero_link{
	width: 100%;
	position: absolute;
	top: 180px;
	padding: 50px 0;
}
.header1{
	display: block;
	margin: 0 auto 10px auto;
	width: 980px;
	height: 90px;
	background: url("../images/your_verse_title_small.png");
	background-repeat: no-repeat;	
	background-size: 980px 104px;
}
.header2{
	display: block;
	padding: 0;
	margin: 10px auto;
	width: 980px;
	height: 82px;
	background: url("../images/your_verse_subhead_small.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.header3{
		display: block;
	padding: 0;
	margin: 20px auto;
	width: 980px;
	height: 32px;
	background: url("../images/cta_your_verse_27pt.png");
	background-size: 980px 64px;
	background-repeat: no-repeat;
}
.header3:hover{
	background: url("../images/cta_your_verse_27pt.png");
	background-size: 980px 64px;
	background-position: 50% -32px;
	background-repeat: no-repeat;
}
#promo1{
	background: url("../images/promo_iphone5s.jpg");
	background-position: 0 2px;
	background-size: 358px 198px;
	background-repeat: no-repeat;
}
#promo2{
	background: url("../images/promo_iphone5c.jpg");
	background-position: 0 2px;
	background-size: 358px 198px;
	background-repeat: no-repeat;
}
#promo3{
	background: url("../images/promo_30_years.jpg");
	background-position: 0 2px;
	background-size: 358px 198px;
	background-repeat: no-repeat;
}
#promo4{
	background: url("../images/promo_supplier_responsibility.jpg");
	background-position: 0 2px;
	background-size: 360px 198px;
	background-repeat: no-repeat;
}
footer{
	width: 980px;
	height: 54px;
	padding: 10px 0 26px 0;
	margin: 0 auto;
	/*background-color: orange;*/
	display: block;
	clear: both;
}
footer p{
	float: left;
	color: rgb(110,110,110);
	font-family: "Nimbus Sans L";
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	padding-top: 15px;
}
footer p a{
	text-decoration: none;
	text-decoration-color: rgb(0,136,204);
	color:rgb(0,136,204);
}
footer p a:hover{
	text-decoration: underline;
}
footer ul a li{
	float: right;
	font-family: "Nimbus Sans L";
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	margin-top: 15px;
	color:rgb(0,136,204);
	padding: 0 6px;
	border-right: 1px solid rgb(204,204,204);
}
footer ul a li#last{
	border: none;
}
footer ul a:hover li{
	text-decoration: underline;
}